.App {
  text-align: center;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(124, 134, 139);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 90, 90);
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.card-mod {
  width: 70vw;
  min-height: 75vh;
}

.card-body-mod {
  width: 100%;
  height: 100%;
}

.img-rounded {
  border-radius: 50px;
}

.fixed-btn {
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
  border: none !important;
  color: rgb(255, 255, 255) !important;
  font-size: 1.5vw !important;
  line-height: 4px;
}

.alert-fix {
  border-radius: 5px;
  display: block !important;
  margin: 0px !important;
  padding: 10px;
}

.alert-txt {
  font-size: 1.7vw;
  margin: 0px !important;
  height: 100%;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  width: 100%;
  height: 10vh;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
